<div class="caja">
    <div class="subdiv">
        <h1>Somos una empresa familiar</h1>
        <p>3 Generaciones familiares han sido involucradas en este negocio, de ello deviene la excelencia y calidad de nuestros productos.
            Estamos radicados en la ciudad de San Juan, departamento Rivadavia.
            Contactamos directamente con los importadores, por lo que eliminamos intermediarios y mantenemos un precio competitivo de todos nuestros productos.
            Proximamente lanzaremos nuestra línea de lutería.
        </p>
    </div>
</div>
